{%extends "tasks/base.html"%}
{%block title%}| Create New Task{%endblock%}

{%block content%}
<br>
<div class="row justify-content-center text-center">
        <div class="col-sm-6">
                <h2>Создание тэга.</h2>
        </div>
</div>
<br>
<div class="row justify-content-center">
        <div class="col-sm-3">
                <form method="post">
                        {% csrf_token %}
                        {%include "tasks/form.html"%} 
                        <button type="submit" class="btn btn-primary">Создать</button>
                </form>
        </div>
</div>
{%endblock%}