{%for task in tasks%}
<div class="row justify-content-center">
        <div class="col-sm-6">
                <div class="card {%if task.done%}bg-success text-white{%else%}bg-light{%endif%} mb-3" name="task_card">
                        <div class="card-body">
                                <h4 class="card-title">{{task.title | capfirst}} {%if task.is_done%}(done){%endif%}</h4>
                                <p class="card-text">{{task.body|truncatewords:3}}</p>
                        </div>
                        <div class="card-footer bg-transparent text-right">
                                {%for tag in task.tags.all%}
                                <a href="{{tag.get_absolute_url}}" class="badge badge-secondary mr-1">{{tag.name}}</a>
                                {%endfor%}
                                <a href="{{task.get_absolute_url}}" class="btn btn-primary text-right">open</a>
                        </div>
                </div>
        </div>
</div>
{%endfor%}